api:
  dashboard: true

entryPoints:
  web:
    address: ":{{ traefik_http_port }}"
  traefik:
    address: ":{{ traefik_dashboard_port }}"

providers:
  docker:
    network: pos
    exposedByDefault: false
