# Environment files
.env
.env.local
*.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go
vendor/
*-server

# Compiled binaries
services/iam
services/catalog

# Keys / certs
*.pem

# Logs
*.log
deploy/caddy/.env
go1.24.0.linux-amd64.tar.gz*
