{{ caddy_grafana_domain }} {
    reverse_proxy grafana:3000
}

{{ caddy_api_domain }} {
    @iam path /v1/auth* /v1/users* /v1/roles* /v1/permissions*
    handle @iam {
        rewrite * /api{path}
        reverse_proxy iam-service:8080
    }

    @merchant path /v1/merchants* /v1/branches* /v1/staff*
    handle @merchant {
        rewrite * /api{path}
        reverse_proxy merchant-service:8081
    }

    @inventory path /v1/stocks* /v1/product-items/*/components*
    handle @inventory {
        rewrite * /api{path}
        reverse_proxy inventory-service:8083
    }

    @order path /v1/orders* /v1/customers*
    handle @order {
        rewrite * /api{path}
        reverse_proxy order-service:8084
    }

    @payment path /v1/payments*
    handle @payment {
        rewrite * /api{path}
        reverse_proxy payment-service:8085
    }

    @catalog path /v1/categories* /v1/products* /v1/product-items* /v1/units* /v1/images* /v1/sync*
    handle @catalog {
        rewrite * /api{path}
        reverse_proxy catalog-service:8082
    }
}

{{ caddy_minio_domain }} {
    reverse_proxy minio:9000
}

{{ caddy_minio_console_domain }} {
    reverse_proxy minio:9001
}

{{ caddy_backoffice_domain }} {
    @merchant path /api/v1/merchants* /api/v1/branches* /api/v1/staff* /api/v1/me*
    handle @merchant {
        reverse_proxy merchant-service:8081
    }

    @backend path /api/*
    handle @backend {
        reverse_proxy iam-service:8080
    }

    handle {
        reverse_proxy backoffice:80
    }
}

{{ caddy_intools_domain }} {
    @merchant path /api/v1/merchants* /api/v1/branches* /api/v1/staff* /api/v1/me*
    handle @merchant {
        reverse_proxy merchant-service:8081
    }

    @backend path /api/*
    handle @backend {
        reverse_proxy iam-service:8080
    }

    handle {
        reverse_proxy intools:80
    }
}

{{ caddy_hermes_domain }} {
    reverse_proxy host.docker.internal:9119
}

{{ caddy_pos_domain }} {
    reverse_proxy pos:3000
}

{{ caddy_9router_domain }} {
    reverse_proxy host.docker.internal:20128
}
