:80 {
    root * /usr/share/caddy/html

    handle /api/* {
        reverse_proxy {env.API_PROXY_TARGET}
    }

    handle /assets/* {
        header Cache-Control "public, immutable"
        file_server
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
